{% extends "base.html" %}
{% block title %} {{ adg.name }}{% endblock %}
{% block content %}

    <form class="ui form" enctype='multipart/form-data' method="post">
        <input type="hidden" name="gid" value="{{adg.id }}">
        <div class="field">
            <label>链接</label>
            <input type="text" name="url">
        </div>
        <div class="field">
            <label>上传图片</label>
            <input type="file" name="file">
        </div>
        <div class="ui selection dropdown" id="ss">
            <input type="hidden" name="index" value="0">
            <i class="dropdown icon"></i>
            <div class="default text">0</div>
            <div class="menu">
                {% for x in range(10) %}
                    <div class="item" data-value="{{ x }}">{{ x }}</div>
                {% endfor %}


            </div>
        </div>


        <input class="ui button" type="submit">
    </form>

    <script>
        $(function () {

            $('#ss')
                .dropdown();
        });


    </script>
{% endblock %}
