{% extends "base.html" %}

{% block title %}预览{% endblock %}

{% block content %}


    <form class="ui form" >
        <div class="fields">
            <div class="field">
                <label>宝贝ID</label>
                <input type="text" name="item_id" value="{{ goods.item_id }}" readonly="readonly">
            </div>
            <div class="field">
                <label>首图</label>
                <img src="{{ goods.main_img }}" width="120"/>
            </div>
        </div>
        <div class="field">
            <label>标题</label>
            <input type="text" name="title" value="{{ goods.title }}">
        </div>
        <div class="fields">

            <div class="field three">
                <label>副标题</label>
                <input type="text" name="title" value="{{ goods.subtitle }}">
            </div>
        </div>

        <div class="fields">
            <div class="field three">
                <label>平台类型</label>
                <input type="text" name="title" value="{{ goods.platform_type }}" readonly="readonly">
            </div>
        </div>


        <div class="field">
            <label>宝贝链接</label>
            <input type="text" name="title" value="{{ goods.url }}">
        </div>
        <div class="field">
            <label>现价</label>
            <input type="text" name="title" value="{{ goods.price }}">
        </div>
        <div class="field">
            <label>促销类型</label>
            <input type="text" name="title" value="{{ goods.price_type }}">
        </div>
        <div class="field">
            <label>原价</label>
            <input type="text" name="title" value="{{ goods.original_price }}">
        </div>

        <div class="field">
            <label>詳情</label>
           <div>
                {{ goods.desc |safe}}
              </div>

        </div>


    </form>



{% endblock %}
